@model SMS.Asignaciones.Models.Proveedor

@{
    Layout = null;
}


<div class="row">
    <div class="col-md-12">
        <form asp-action="AddOrEdit" asp-route-id="@Model.Id" onsubmit="return jQueryAjaxPost(this);">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="Id" />
            <div class="form-group">
                <label asp-for="Nombre" class="control-label"></label>
                <input asp-for="Nombre" class="form-control" id="Descripcion" />
                <span asp-validation-for="Nombre" class="text-danger"></span>
            </div>

            <div class="mt-3">

                <button type="submit" class="btn btn-danger btn-sm text-white pull-right">
                    <i class="fa fa-check text-white"></i>
                    @(Model.Id > 0 ? "Actualizar" : "Crear")
                </button>

                <button type="button" class="btn btn-sm btn-dark text-white" data-dismiss="modal">
                    <i class="fa fa-close text-white"></i> Cancelar
                </button>

            </div>
        </form>
    </div>
</div>



@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
